//font-size
$_13px: 0.8125rem;
$_15px: 0.9375rem;
$_18px: 1.125rem;
$_21px: 1.3125rem;
$_24px: 1.5rem;
$_28px: 1.75rem;
$_36px: 2.25rem;
$_40px: 2.5rem;
$_42px: 2.625rem;
$_49px: 3.0625rem;
$_51px: 3.1875rem;
$_64px: 4rem;
$_75px: 6.6875rem;
$_80px: 5rem;
$_88px: 5.5rem;
$_116px: 7.25rem;
$_120px: 7.5rem;
$_130px: 8.125rem;
$_370px: 23.125rem;
$_670px: 41.875rem;

//colors
$white: #fff;
$rose: #FF4343;
$grey: #BABBC5;
$black: #000000;
$bordo: #5C3249;
$blue: #353C65;
$lite-grey: #C6CBCD;
