.download {
    padding: 114px 0;

    &-title {
        font-family: 'Raleway';
        font-weight: 500;
        font-size: 30px;
        line-height: 12px;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 24px;
        color: $black;
    }

    &-info {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 48px;
        color: $black;

        p {
            font-family: 'Raleway';
            font-size: $_18px;
            line-height: $_21px;
            font-weight: 700;
        }
    }

    &-click {
        @include red-button;
    }

    @media (max-width: 992px) {
        padding: 78px 0;

        &-title {
            font-size: 24px;
            line-height: 28px;
        }

        &-info {
            margin-bottom: 43px;

            p {
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
    @media (max-width: 566px) {
        padding: 35px 20px 45px;
        &-title {
            font-size: 18px;
            line-height: 21px;
        }

        &-info {
            margin-bottom: 11px;

            p {
                font-size: 13px;
                line-height: 15px;
            }
        }
    }
}