.main {
    padding: $_40px 0px $_120px;
    background-image: url('../img/bg/main-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.top {
    border-bottom: 1px solid $grey;
    padding-bottom: 30px;

    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
    }

    @media (max-width: 566px) {
        padding-bottom: 0;
        border-bottom: 0;
    }
}

.logo {
    @media (max-width: 566px) {
        img {
            max-width: 70%;
            max-height: 70%;
        }
    }
}

.nav-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: $_670px;

    &-item {
        transition: 0.2s;
        position: relative;

        a {
            font-family: 'Raleway';
            font-weight: 700;
            font-size: $_13px;
            line-height: $_15px;
            color: $white;
            text-transform: uppercase;
        }

        &:hover {
            &::after {
                content: '';
                width: 100%;
                height: 2px;
                background-color: $grey;
                display: block;
                position: absolute;
                bottom: -36px;
                left: 0;
            }
        }
    }

    @media (max-width: 756px) {
        display: none;
    }
}

.nav-burger {
    display: none;

    @media (max-width: 756px) {
        display: block;

    }
}

.main-title {
    margin-top: $_130px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 900;
    font-size: $_64px;
    line-height: $_75px;
    color: $white;

    @media (max-width: 992px) {
        font-size: 48px;
        line-height: 56px;
    }

    @media (max-width: 566px) {
        margin-top: 50px;
        font-size: 36px;
        line-height: 42px;
    }
}

.main-text {
    margin: 31px auto $_80px;
    text-align: center;

    p {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: $_24px;
        line-height: $_28px;
        color: $white;
    }

    @media (max-width: 992px) {
        margin: 31px auto 80px;

        p {
            font-size: 18px;
            line-height: 21px;
        }
    }

    @media (max-width: 566px) {
        margin: 31px auto 50px;

        p {
            font-size: 14px;
            line-height: 16px;
        }
    }
}

.main-find {
    @include red-button;
}