.people {
    padding: 114px 0;
}

.people-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;

    @media (max-width: 1178px) {
        justify-content: space-around;
    }

}

.people-card {
    width: 260px;
    margin: 0 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &-foto {
        width: 260px;
        height: 260px;
        margin-bottom: 30px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

    }

    &-name {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: $_24px;
        line-height: $_28px;
        margin-bottom: 5.29px;
        text-align: left;
        text-transform: capitalize;
        color: #2D3033;
    }

    &-profession {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: $_18px;
        line-height: $_21px;
        color: $rose;
        text-transform: uppercase;
        text-align: left;
        display: block;
        margin-bottom: 18px;

        @media (max-width: 1178px) {
            height: 31.5px;
        }

        @media (max-width: 566px) {
            height: auto;
        }
    }

    &-text {
        margin-bottom: 38px;
        text-align: left;
        flex-grow: 1;

        p {
            @include card-description;
        }
    }

    &-media {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;

        &-item {
            @include social-icon;
            margin-right: 5px;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                border-color: $black;

                .fa-facebook-f,
                .fa-twitter,
                .fa-linkedin {
                    color: $black;
                    transform: scale(1.5) rotate(360deg);
                }
            }
        }
    }

    @media (max-width: 1178px) {
        width: 200px;

        &-foto {
            width: 200px;
            height: 200px;
            margin-bottom: 15px;
        }
    }

    @media (max-width: 992px) {
        width: 150px;

        &-foto {
            width: 150px;
            height: 150px;
            margin-bottom: 10px;
        }
    }

    @media (max-width: 740px) {
        width: 230px;

        &-foto {
            width: 230px;
            height: 230px;
            margin-bottom: 15px;
        }

        &:nth-child(1) {
            margin-bottom: 30px;
        }
        &:nth-child(2) {
            margin-bottom: 30px;
        }
    }

    @media (max-width: 566px) {
        width: 280px;
        margin: 0 auto 56px;

        &-foto {
            width: 280px;
            height: 280px;
            margin-bottom: 15px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &-text {
        margin-bottom: 20px;
    }
}