.swiper {}

.swiper-wrapper {
    padding: 0 0 60px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &:nth-child(2n) .slide-description {
        background-color: $blue;
    }

    @media (max-width: 566px) {
        flex-direction: column;
    }
}

.slide-foto {
    width: 50%;
    max-height: 490px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    @media (max-width: 566px) {
        width: 100%;
        height: 212px;
    }
}

.slide-description {
    width: 50%;
    background-color: $bordo;

    &-quite {
        width: 471px;
        margin: 116px auto 0;
        text-align: left;

        p {
            font-family: 'Cardo';
            font-weight: 400;
            font-size: $_36px;
            line-height: $_49px;
            color: $white;
            text-transform: capitalize;
        }
    }

    &-sign {
        display: block;
        width: 471px;
        margin: auto;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        text-align: left;
        color: $white;
    }

    @media (max-width: 992px) {
        max-height: 332px;

        &-quite {
            width: 330px;
            margin: 47px auto 10px;

            p {
                font-size: 24px;
                line-height: 32px;
            }
        }

        &-sign {
            width: 332px;
            margin: auto;
            font-size: 12px;
            line-height: 14px;
        }
    }

    @media (max-width: 566px) {
        width: 100%;
        height: 326px;

        &-quite {
            width: 275px;
            margin: 20px auto 20px;
            text-align: center;
        }

        &-sign {
            width: 275px;
            margin: 0 auto 95px;
        }

    }
}

.swiper-pagination {}

// Стрелки
.swiper-button-prev::after {
    color: $white;
    font-size: 40px;

    @media (max-width: 566px) {
        display: none;
    }
}

.swiper-button-next::after {
    color: $white;
    font-size: 40px;

    @media (max-width: 566px) {
        display: none;
    }
}

// Пагинация
.swiper-pagination {}

// Буллеты
.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    line-height: 14px;
    background-color: transparent;
    border: 1px solid #7E5D6F;

    &-active {
        background-color: #7E5D6F;
    }
}